@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
body {
  background-image: radial-gradient(#ffeaf6 20%, transparent 20%), radial-gradient(#ffd4ec 20%, transparent 20%);
  background-size: 50px 50px;
  background-position: 0 0, 125px 125px;
}

body P {
  letter-spacing: 0.05em;
  font-family: "メイリオ", sans-serif;
  font-weight: 500;
}

.cherry-blossom-container {
  position: relative;
  overflow: hidden;
}

.petal {
  position: absolute;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  -webkit-animation: animate-petal 30s linear;
          animation: animate-petal 30s linear;
}

.petal::after {
  content: "";
  position: absolute;
  top: -14%;
  left: -10%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

@-webkit-keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 500vh;
    -webkit-transform: rotate(3000deg);
            transform: rotate(3000deg);
  }
}

@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 500vh;
    -webkit-transform: rotate(3000deg);
            transform: rotate(3000deg);
  }
}

.title {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7ff23), to(transparent));
  background-image: linear-gradient(#d7ff23, transparent);
  max-width: 1200px;
  width: 100%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.title.greet {
  opacity: 0;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.title.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 960px) {
  .title {
    margin-top: 0px;
    height: 30vh;
  }
  .title.greet {
    visibility: hidden;
  }
  .title.show {
    visibility: visible;
  }
}

.title .circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 10%;
  left: 5%;
}

@media screen and (max-width: 960px) {
  .title .circle {
    width: 100px;
    height: 100px;
  }
}

.title .c-1, .title .c-3, .title .c-4, .title .c-5 {
  background-image: #fc3ea9;
  background-color: transparent;
  background-image: radial-gradient(#fc3ea9 10%, transparent 20%), radial-gradient(#fc3ea9 10%, transparent 20%);
  background-size: 14px 14px;
  background-position: 0 0, 7px 7px;
}

.title .c-1 {
  top: 5%;
  left: 80%;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 960px) {
  .title .c-1 {
    width: 75px;
    height: 75px;
  }
}

.title .c-3 {
  top: 50%;
  left: 45%;
}

.title .c-4 {
  top: 5%;
  left: 30%;
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 960px) {
  .title .c-4 {
    width: 115px;
    height: 115px;
  }
}

.title .c-2, .title .c-6 {
  background-image: linear-gradient(45deg, #7cfc00 0%, #7cfc00 25%, transparent 25%, transparent 50%, #7cfc00 50%, #7cfc00 75%, transparent 75%);
  background-position: 0px 0px;
  background-size: 10px 10px;
}

.title .c-2 {
  top: 60%;
  left: 20%;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 960px) {
  .title .c-2 {
    width: 75px;
    height: 75px;
  }
}

.title .c-6 {
  top: 60%;
  left: 70%;
}

.title P.name {
  position: absolute;
  margin: 50px;
  font-size: 6em;
  font-weight: bold;
  height: 1.2em;
  text-shadow: 4px 4px 2px yellow;
}

.title P.name br {
  display: none;
}

@media screen and (max-width: 960px) {
  .title P.name {
    font-size: 9vw;
  }
  .title P.name br {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .title P.name {
    top: 0%;
    text-align: center;
  }
  .title P.name br {
    display: inline-block;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

section:hover {
  cursor: pointer;
}

section .front {
  font-size: 30px;
  color: #fc00da;
}

section .big {
  color: #fc00da;
  font-size: 3em;
  top: 20;
  left: 0;
}

section.disappear {
  opacity: 0;
  cursor: none;
}

.spring {
  position: absolute;
  font-size: 3em;
  color: #fc93cf;
  text-shadow: 4px 4px 2px yellow;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  font-family: 'Sawarabi Mincho', sans-serif;
  top: 80%;
  left: 60%;
}

@media screen and (max-width: 520px) {
  .spring {
    font-size: 8vw;
  }
}

@-webkit-keyframes moving {
  0% {
    left: 0;
    top: 0;
  }
  17% {
    left: 0;
    top: -60px;
  }
  33% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: -60px;
  }
  67% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -60px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes moving {
  0% {
    left: 0;
    top: 0;
  }
  17% {
    left: 0;
    top: -60px;
  }
  33% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: -60px;
  }
  67% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -60px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes hopping {
  0% {
    left: 0;
    top: 0;
  }
  17% {
    left: 0;
    top: -60px;
  }
  33% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: -60px;
  }
  67% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -60px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes hopping {
  0% {
    left: 0;
    top: 0;
  }
  17% {
    left: 0;
    top: -60px;
  }
  33% {
    left: 0;
    top: 0;
  }
  50% {
    left: 0;
    top: -60px;
  }
  67% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -60px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.rabbit {
  margin-top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rabbit img {
  width: 28%;
  margin-left: -50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.rabbit img.move {
  -webkit-animation: moving 2s;
          animation: moving 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  position: relative;
}

.rabbit img:hover {
  -webkit-animation: hopping 2s;
          animation: hopping 2s;
  position: relative;
}

@media screen and (max-width: 960px) {
  .rabbit img {
    margin-left: -30px;
  }
}

.rabbit h1 {
  margin-left: -60px;
  background-color: #fff;
  position: relative;
  font-size: 2.5em;
  padding: 0.4em;
  border: 9px solid #7cca3c;
  border-radius: 30px;
  text-shadow: 3px 3px 1px yellow;
}

.rabbit h1:hover {
  -webkit-transform: perspective(500px) translateX(100px) rotateY(40deg);
          transform: perspective(500px) translateX(100px) rotateY(40deg);
}

@media screen and (max-width: 960px) {
  .rabbit h1:hover {
    -webkit-transform: perspective(500px) rotateY(40deg);
            transform: perspective(500px) rotateY(40deg);
  }
}

.rabbit h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -30px;
  border: 25px solid transparent;
  border-right: 25px solid #7cca3c;
  z-index: 2;
}

@media screen and (max-width: 960px) {
  .rabbit h1 {
    font-size: 4vw;
    margin-left: 0px;
    padding: 0.2em;
    border: 6px solid #7cca3c;
  }
  .rabbit h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #7cca3c;
    z-index: 2;
  }
}

@media screen and (max-width: 520px) {
  .rabbit h1 {
    letter-spacing: 0;
    white-space: nowrap;
  }
}

.rabbit.greet {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 3s;
  transition: 3s;
}

.rabbit.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  ul {
    width: 100vw;
  }
}

@media screen and (max-width: 520px) {
  ul {
    padding: 0;
  }
}

li.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  list-style: none;
  white-space: nowrap;
}

li:not(:first-child) {
  margin-top: 1em;
}

@media screen and (max-width: 520px) {
  li {
    width: 100vw;
  }
}

li p {
  width: 600px;
  padding: 5px;
  font-size: 20px;
  margin: 30px 0px;
  white-space: normal;
}

li p span {
  color: #06005a;
  font-weight: bold;
}

li p span a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  li p {
    width: 55vw;
  }
}

@media screen and (max-width: 960px) {
  li p {
    font-size: 18px;
  }
}

li:nth-child(2n) {
  margin-right: auto;
}

li:nth-child(2n)::before {
  content: '';
  display: inline-block;
  width: 120px;
  /*画像の幅*/
  height: 120px;
  /*画像の高さ*/
  background-image: url(img/kuromuSmall.png);
  background-size: contain;
  vertical-align: top;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  margin-right: 5px;
}

@media screen and (max-width: 520px) {
  li:nth-child(2n)::before {
    width: 96px;
    /*画像の幅*/
    height: 96px;
    /*画像の高さ*/
  }
}

li:nth-child(2n) p {
  display: inline-block;
  border: 3px solid #7cca3c;
  border-radius: 10px;
}

@media screen and (max-width: 520px) {
  li:nth-child(2n) p {
    margin-right: 5px;
  }
}

li:nth-child(2n-1) {
  margin-left: auto;
}

li:nth-child(2n-1)::after {
  content: '';
  display: inline-block;
  width: 100px;
  /*画像の幅*/
  height: 100px;
  /*画像の高さ*/
  background-image: url(img/meruChan.png);
  background-size: contain;
  vertical-align: top;
}

li:nth-child(2n-1) p {
  border-radius: 10px;
  display: inline-block;
  border: 3px solid #ffc75f;
}

@media screen and (max-width: 520px) {
  li:nth-child(2n-1) p {
    margin-left: 10px;
  }
}

li span.t-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0;
  height: 0;
  border-top: .9em solid transparent;
  border-bottom: .9em solid transparent;
  border-right: 0.9em solid #7cca3c;
}

li span.triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  border-top: .9em solid transparent;
  border-bottom: .9em solid transparent;
  border-left: 0.9em solid #ffc75f;
}

.container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 5px #eee;
          box-shadow: 0px 0px 8px 5px #eee;
  margin: 30px 0;
  padding: 50px;
  border: 1px solid white;
}

@media screen and (max-width: 960px) {
  .container {
    width: 95vw;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 520px) {
  .container {
    margin: 0;
    padding: 0;
  }
}

footer {
  max-width: 1072px;
  width: 100vw;
  height: 200px;
  margin: 0 auto;
}

footer div.c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.c p {
  font-weight: bold;
  color: #646464;
  margin: 30px;
}

label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

label p {
  padding: 3px;
  display: inline-block;
  color: #06005a;
  border: 5px solid #adadad;
  border-radius: 5px;
}

label:hover {
  background-color: #6d6d6d;
  border-radius: 5px;
}

label:hover p {
  color: #eee;
}

.dropdown {
  display: none;
  color: #06005a;
  border: 5px solid #adadad;
  border-radius: 5px;
}

input[type="checkbox"] {
  display: none;
}

#question:checked + .dropdown {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */